html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mapboxgl-control-container {
  /* position: relative; */
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
  /* bottom: 0 !important; */
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group{
  bottom: 20px !important;
  left: 50% !important;
}
.mapboxgl-ctrl-bottom-right{
  left: 50% !important;
}
.mapboxgl-ctrl .mapboxgl-ctrl-group {
  position: absolute !important;
}
.mapboxgl-ctrl .mapboxgl-ctrl-attrib {
  display: none !important;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display: none;
}
.mapboxgl-ctrl-zoom-in {
  display: block !important;
}
.mapboxgl-ctrl-zoom-out {
  display: block !important;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url("../assets/images/akar-icons_zoom-in.svg") !important;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("../assets/images/akar-icons_zoom-out.svg") !important;
}
